<div class="d-flex flex-wrap">
  <% posts.each do |post| %>
  <div class="text-center m-3">
  <%= link_to post_path(post) do %>
    <% if post.image.present? %>
      <%= image_tag post.image, size: '200x200', class: "mb-2" %><br>
    <% else %>
      <%= image_tag 'noimage.png' , size: '200x200', class: "mb-2" %><br>
    <% end %>
    <p class="font-weight-bold text-truncate text-dark"><%= post.title %></p>
    <p class="text-dark"><%= post.tag_i18n %></p>
  <% end %>
  <p class="text-dark"><%= post.favorites.where.not(user_id:User.where(is_deleted:true).pluck(:id)).count %>Fav!／コメント件数:<%= post.comments.where.not(user_id:User.where(is_deleted:true).pluck(:id)).count %></p>

  </div>
  <% end %>
</div>


<!--ページネーション-->