<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <%= flash[:notice] %>
  </div>
  <div class="row justify-content-center mt-3 mb-4">
    <h2 class="border-bottom border-gray">Edit Post</h2>
  </div>

  <div class="row justify-content-center">
    <div class="mx-auto">
      <div class="col-12">
        <%= flash[:notice] %>
        <%= form_with model: @post, url: post_path(@post.id), method: :patch, local: true do |f| %>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :画像 %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.file_field :image, accept: 'image/*' %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :タイトル %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.text_field :title %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :キャプション %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.text_area :body, rows: '5' %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :タグ %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.select :tag, Post.tags.keys.map {|k| [I18n.t("enums.post.tag.#{k}"), k]} %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :キーワード %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.text_area :keyword, rows: '5' %></div>
        </div>


        <div class="row justify-content-center mb-md-4">
          <%= f.submit 'Save', class: "btn btn-outline-success" %>
        </div>
        <div class="row justify-content-center mb-md-4">
          <%= link_to "Delete", post_path(@post.id), class: "btn btn-outline-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
