<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-end my-3">
    <h2 class="text-center border-bottom border-gray m-0 pr-1">All Posts</h2>

    <div class="col-lg-12 col-sm-4">
      <div class="text-center">
        <%= link_to '＜新着順＞', posts_path(latest: "true"), :style=>"color:black; font-size:14px" %>
        <%= link_to '＜古い順＞', posts_path(old: "true"), :style=>"color:black; font-size:14px" %>
        <%= link_to '＜いいねの多い順＞', posts_path(most_favorited: "true"), :style=>"color:black; font-size:14px" %>
        <%= link_to '＜コメントの多い順＞', posts_path(most_commented: "true"), :style=>"color:black; font-size:14px" %>
      </div>
    </div>
    <%= render 'public/searches/form' %>
    <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>

