<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <%= flash[:notice] %>
  </div>

  <div class="row justify-content-center mt-3 mb-4">
    <h2 class="border-bottom border-gray">New Post</h2>
  </div>

  <div class="row justify-content-center">
    <div class="mx-auto">
      <div class="col-12">
        <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :画像 %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.file_field :image, accept: 'image/*' %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :タイトル %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.text_field :title, placeholder: "例）〇〇公園、カフェ〇〇、〇〇空の景色 etc…" %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :キャプション %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.text_area :body, rows: '5', placeholder: "旅先での思い出やオススメポイントを共有してください！" %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :タグ %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.select :tag, Post.tags.keys.map {|k| [I18n.t("enums.post.tag.#{k}"), k]} %></div>
        </div>

        <div class="form-row pb-md-3">
          <strong class="col-lg-4 col-sm-12"><%= f.label :キーワード %></strong>
          <div class="col-lg-8 col-sm-12"><%= f.text_area :keyword, rows: '5', placeholder: "低予算？穴場？駅近？このスポットを表すキーワードを思いつく限り入力してください！（「、」で区切ってください）" %></div>
        </div>


        <div class="row justify-content-center mb-md-4">
          <%= f.submit 'Post', class: "btn btn-outline-success" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
