<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <%= flash[:notice] %>
  </div>

  <div class="row justify-content-center mt-3 mb-4">
    <h2 class="border-bottom border-gray">New Post</h2>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6 offset-sm-2 col-sm-8">
      <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>

      <div class="form-group">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, accept: 'image/*', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, placeholder: "例）〇〇公園、カフェ〇〇、〇〇空の景色 etc…", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :body, "キャプション" %>
        <%= f.text_area :body, rows: '5', placeholder: "旅先での思い出やオススメポイントを共有してください！", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :tag, "都道府県" %>
        <%= f.select :tag, Post.tags.keys.map {|k| [I18n.t("enums.post.tag.#{k}"), k]}, {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :keyword, "キーワード" %>
        <%= f.text_area :keyword, rows: '5', placeholder: "低予算？穴場？駅近？このスポットを表すキーワードを思いつく限り入力してください！（「、」で区切ってください）" , class: "form-control"%>
      </div>

      <div class="row justify-content-center mb-md-4">
        <%= f.submit 'Post', class: "btn btn-outline-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
