<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <%= flash[:notice] %>
  </div>

  <div class="row justify-content-center mt-3 mb-3">
    <h2 class="border-bottom border-gray">Post Detail</h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2>Posted by</h2>
      <%= render 'public/users/show', user: @user %>

      <div class="mt-md-3">
        <%= link_to "See other posts", user_path(@user), class: "btn btn-outline-success" %>
      </div>
      <% end %>
    </div>


    <div class="col-md-3">
      <% if @post.image.present? %>
        <%= image_tag @post.image, size: '250x250' %><br>
      <% else %>
        <%= image_tag 'noimage.png' , size: '250x250' %>
      <% end %>

        <!--いいねとコメント数入れる-->
      <div class="row justify-content-center mt-md-4">
        <% if @post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> Fav!
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> Fav!
          <% end %>
          </p>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <p>コメント件数：<%= @post.comments.count %></p>
      </div>
    </div>

    <div class="col-md-6">
      <table class="table table-borderless">
        <tbody>
        <tr>
          <th>タイトル<th>
          <td><%= @post.title %></td>
        </tr>

        <tr>
          <th>キャプション<th>
          <td><%= @post.body %></td>
        </tr>

        <tr>
          <th>タグ<th>
          <td><%= @post.tag_i18n %></td>
        </tr>

        <tr>
          <th>キーワード<th>
          <td><%= @post.keyword %></td>
        </tr>
        </tbody>
      </table>

        <!--コメント欄入れる-->
        <!--コメントがずれる。row justify-content-startで解決できず-->

        <div class="mb-md-4">
          <h5>【コメント一覧】</h5>
          <% @post.comments.each do |comment| %><br>
            <% if comment.user.profile_image.present? %>&emsp;
              <%= image_tag comment.user.profile_image, size: '50x50' %>
            <% else %>
              <%= image_tag 'noimage.png' , size: '50x50' %>
            <% end %>
            <%= comment.user.name %>&emsp;
            <%= comment.comment %>&emsp;
            <% if comment.user == current_user %>
              <%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>&emsp;
            <% end %>
          <% end %>
        </div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, :size=>"60x2", placeholder: "コメントをどうぞ！" %>
          <%= f.submit "comment" %>
        <% end %>

        <!--ログインユーザーの投稿のみ編集ボタン表示-->
        <% if @post.user == current_user %>
          <div class="row justify-content-center mb-3">
          <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-outline-success" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
