<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <%= flash[:notice] %>
  </div>
  <div class="row justify-content-center mt-3 mb-3">
    <h2 class="border-bottom border-gray">Post Detail</h2>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <h2 class="text-center-align mb-4">Posted by</h2>
      <%= render 'public/users/show', user: @user %>

      <div class="text-center-align my-3">
        <%= link_to "See other posts", user_path(@user), class: "btn btn-outline-success" %>
      </div>
    </div>


    <div class="col-lg-3 col-sm-12">
      <div class="row justify-content-center mt-4">
      <% if @post.image.present? %>
        <%= image_tag @post.image, size: '250x250' %><br>
      <% else %>
        <%= image_tag 'noimage.png' , size: '250x250' %><br>
      <% end %>
      </div>

      <div class="row justify-content-center mt-4">
        <div id="post_<%= @post.id %>">
          <%= render 'public/favorites/favorite-btn', post: @post %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div id="comment_count"><%= render 'public/comments/comment_count', post: @post %></div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <%= render 'public/posts/show', post: @post %>

        <div class="mb-4">
          <h5 class="text-center-align">【コメント一覧】</h5>
            <div id="comments_area">
              <%= render 'public/comments/comment', post: @post %>
            </div>
        </div>

        <div class="text-center-align">
          <div id="new-comment">
            <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
          </div>
        </div>

        <!--ログインユーザーの投稿のみ編集ボタン表示-->
        <% if @post.user == current_user %>
          <div class="row justify-content-center mb-3">
          <%= link_to "Edit", edit_post_path(@post.id), class: "btn btn-outline-success" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
