<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <h2 class="border-bottom border-gray">投稿詳細</h2>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <h2 class="text-center-align mb-4">Posted by</h2>
      <%= render 'public/users/show', user: @user %>
      <div class="text-center-align my-3">
        <%= link_to "このユーザーの他の投稿を確認", admin_user_path(@user), class: "btn btn-outline-success" %>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="row justify-content-center mt-4">
      <% if @post.image.present? %>
        <%= image_tag @post.image, size: '250x250' %><br>
      <% else %>
        <%= image_tag 'noimage.png' , size: '250x250' %><br>
      <% end %>
      </div>

      <div class="row justify-content-center">
        <p>コメント件数：<%= @post.comments.where.not(user_id:User.where(is_deleted:true).pluck(:id)).count %></p>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <%= render 'public/posts/show', post: @post %>

        <div class="mb-4">
          <h5 class="text-center-align">【コメント一覧】</h5>
          <% @post.comments.where.not(user_id:User.where(is_deleted:true).pluck(:id)).each do |comment| %><br>
            <% if comment.user.profile_image.present? %>
              <%= image_tag comment.user.profile_image, size: '50x50', style: 'border-radius:50%' %>&emsp;
            <% else %>
              <%= image_tag 'noimage.png' , size: '50x50', style: 'border-radius:50%' %>&emsp;
            <% end %>
            <strong><%= comment.user.name %></strong>&emsp;
            <%= comment.comment %>&emsp;
            <%= link_to "コメントを削除", admin_comment_path(comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>&emsp;
          <% end %>
        </div>

        <div class="row justify-content-center mb-3">
          <%= link_to "投稿を削除", admin_post_path(@post.id), class: "btn btn-outline-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
    </div>
  </div>
</div>