<div class="container-fluid">
  <div class="row justify-content-center mt-3 mb-4">
    <h2 class="border-bottom border-gray m-0 pr-1"><%= @user.name %>さんの詳細ページ</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-3 col-sm-12">
      <div class="text-center-align mb-3">
      <% if @user.profile_image.present? %>
        <%= image_tag @user.profile_image, size: '100x100', style: 'border-radius:50%' %><br>
      <% else %>
        <%= image_tag 'noimage.png' , size: '100x100', style: 'border-radius:50%' %><br>
       <% end %>
      </div>

      <div class="text-center-align"><strong>ユーザーID</strong>：<%= @user.id %></div>
      <div class="text-center-align"><strong>ユーザー名</strong>：<%= @user.name %></div>
      <div class="text-center-align"><strong>メールアドレス</strong>：<%= @user.email %></div>
      <div class="text-center-align"><strong>ステータス</strong>：
        <% if @user.is_deleted == false %>
          <b class="text-success">有効</b>
        <% else %>
          <b class="text-secondary">退会</b>
        <% end %>
      </div>

      <div class="text-center-align">
        <%= form_with model: @user, url: admin_user_path(@user.id) do |f| %>
          <div class="field text-center-align">
            <%= f.radio_button :is_deleted, false %>
              <strong>有効</strong>&emsp;
            <%= f.radio_button :is_deleted, true %>
              <strong>退会</strong>&emsp;
          </div>
        <%= f.submit "ステータスを変更", class:'btn btn-outline-success my-2' %>
      <% end %>
      </div>
    </div>

    <div class="col-lg-9 col-sm-12">
      <%= render 'public/posts/index', posts: @posts %>
    </div>

  </div>
</div>