<%= flash[:notice] %>

<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <h2 class="border-bottom border-gray m-0 pr-1">All posts of <%= @user.name %> </h2>
  </div>

  <div class="row">
    <div class="col-md-3">
      <% if @user.profile_image.present? %>
        <%= image_tag @user.profile_image, size: '100x100' %><br>
      <% else %>
        <%= image_tag 'noimage.png' , size: '100x100' %>
      <% end %>

      ユーザー名　<%= @user.name %>
      <!--ログインしてるユーザーにのみ表示されたい-->
      <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-success" %>
      <% end %>
      </div>

    <div class="col-md-9">
      <%= render 'public/posts/index', posts: @posts %>
    </div>

    </div>
  </div>