<!DOCTYPE html>
<html>
  <head>
    <title>VacationMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/b01fce15c4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--ScrollReveal用-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--Googleフォント用-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  </head>

  <header>
    <%= render 'layouts/header' %>
  </header>

  <body style="background-color: #d1e8ff;">
    <%= yield %>
  </body>
</html>
